# Python
**/__pycache__/
*.pyc
*.o
*.so
*.egg
*.egg-info/
.Python
build/
dist/
venv/
.env

# Editor-specific
.vscode/
.cursor/

# OS-specific
.DS_Store
.Trash/
Thumbs.db

# Logs
*.log

# Flask specific
instance/
.flaskenv

# My config file contains secrets
backend/config.py
